# IDE related
.vscode/*
.idea
.history/
*.vsix

# OS-specific
.DS_Store

# SVELTE, TS related
# Dependency directories
node_modules/

# Test coverage
coverage
*.lcov

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build output
dist
.vercel

tmp
